<mat-toolbar color="primary">
  <span><a routerLink="/">My Messages</a></span>
  <span class="spacer"></span>
  <span
    ><ul>
      <li>
        <a
          mat-button
          routerLink="/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >New Post</a
        >
      </li>
      <li>
        <a
          mat-button
          routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
      <li>
        <a
          mat-button
          routerLink="/signup"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Signup</a
        >
      </li>
    </ul></span
  >
</mat-toolbar>
